# Global code owners
* @victorkazakov

# Go source code
*.go @victorkazakov
go.mod @victorkazakov
go.sum @victorkazakov

# GitHub workflows and scripts
/.github/ @victorkazakov
/scripts/ @victorkazakov

# Configuration and documentation  
/configs/ @victorkazakov
*.md @victorkazakov
LICENSE @victorkazakov